asgiref==3.2.10
certifi==2020.6.20
Django==3.1.1
django-annoying==0.10.6
django-filter==2.3.0
django-jsonstore==0.4.1
django-material==1.7.0
django-viewflow==1.6.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
